.upper_nav{
  width: 100%;
  height: 50px;
  background-color: rgb(148, 71, 142);
  color: white;
 
}
.crsl_img{
  height: 450px;
}
.csl_btn{
  background: rgb(148, 71, 142);
  color: #ffffff;
  display: inline-block;
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 40px;
  width: 150px;
  
  
}
.mdl_button{
  background: rgb(148, 71, 142);
  color: #ffffff;
  border: none;
  
}
.mdl_button1{
  margin-left: 45%;
  margin-top: 20px;
  background: rgb(148, 71, 142);
  color: #ffffff;
  border: none;
  text-align: center;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  
}
.crsl_cap{
  padding-top: 10px;
  text-align: left;
  font-weight:700;
  font-size: 50px;

}
    
.crsl_p{
  text-align: left;

}
.grid_button{
  
  margin-top: 20px;
  background: rgb(148, 71, 142);
  color: #ffffff;
  border: none;
  text-align: center;
  height: 40px;
  width: 150px;
  border-radius: 25px;

}
.grid_h1{
  color:rgb(148, 71, 142) ;

}

@media (max-width:560px)
{
  
  .upper_img{
    width: 200px;
  }
}
.card_bn{
   color: white;
   width: 8rem;
   background-color: rgb(129, 39, 122);
   height: 28px;
   border-radius: 0px;
   border: none;
}
.ca{
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.ca:hover{
  transform: scale(1.05);
}



